@import "_config.scss";

header {
	background: url("./moulin.png");
	position: relative;
	display: block;
	width: 100%;
	color: #67D0F7;
	height: 250px
	

}

.logo {
  color: #FF62EB;
  text-align: center;
  font-weight: bold;
  font-size: 200px;
  font-family:  'PT Sans Caption', sans-serif;;
  padding-top: 205px;
  @include translateY(-50%); 

}

img {
	height: 700px;
	border-style: solid;
	border-weight: 30px;
	border-color: white;
	
}

nav,
nav ul,
nav ul li {
	margin: 0;
	padding: 0;
	padding-top: 60px

}

nav { 
	position: absolute;
	top: 50%; right: 15px;
	@include translateY(-50%);

	ul li {
		list-style-type: none;
		display: inline-block;
		margin-right: 20px;
		// color: #67D0F7;

		&.last{
			margin: 0px;
		}

		a {
			font-size: 25px;
			line-height: normal;
			color: white;
		}

	}

}




