@import "_config.scss";

.logo {
  color: #FF62EB;
  text-align: center;
  font-weight: bold;
  font-size: 210px;
  font-family: 'Alegreya', serif; 

}

header {
	background: url("./moulin.png");

}

nav,
nav ul,
nav ul li {
	margin: 0;
	padding: 0;

nav { 
	position: absolute;
	top: 50%; right: 15px;
	@include translate(-50%);

	ul li {
		list-style-type: none;
		display: inline-block;
		mardin-right: 10px;

		&.last{
			margin: 0;
		}

		a {
			font-size: 20px;
			line-height: normal;
			color: #67D0F7;
		}

	}

}


