body {
  font-family: 'Alegreya', serif;
  font-size: 18px;
  color: #010000;
  font-style: normal; }

a {
  text-decoration: none;
  -webkit-transform: translateY(0.4s ease-in-out);
  -moz-transform: translateY(0.4s ease-in-out);
  transform: translateY(0.4s ease-in-out);
  cursor: pointer; }
  a:hover {
    color: #e6e6e6;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

.container-fluid {
  line-height: 24px; }

header {
  background: url("./moulin.png");
  position: relative;
  display: block;
  width: 100%;
  color: #67D0F7; }

.logo {
  color: #FF62EB;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  font-family: 'Alegreya', serif;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }

nav,
nav ul,
nav ul li {
  margin: 0;
  padding: 0; }

nav {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px; }
    nav ul li.last {
      margin: 0; }
    nav ul li a {
      font-size: 20px;
      line-height: normal;
      color: white; 
    }
